

.sectionOne__left--text {

    font-family: var(--font-2);

}


.sectionOne__left--btn {
    align-self: flex-start;
    margin-top: 20px;  
}




.sectionOne img {
    background-color: rgb(255, 136, 0);
    border-radius:41% 59% 70% 30% / 37% 41% 59% 63% ;

}

.sectionOne img:hover {
    border-radius:67% 33% 81% 19% / 47% 52% 48% 53%  ;

}

/* SECTION TWO */

.section-2-container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.section-two {
    height: 20vh;
    background-image: url("/src/img/img-section-2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-2);
    position: relative;
    
    
}



.section-two::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.section-two .section-2-text {
    text-align: center;
    position: relative;
    z-index: 2;

}


.section-two .section-2-text h1{
    
    color:var(--color-orange-100);
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin: 0 0 20px;

}

.section-two .section-2-text p {
    margin: 0 ;
    overflow: hidden;

}

.section-two .section-2-text p span{
    font-size: 40px;
    color: var( --color-white-100);
    font-weight: 700;
    display: inline-block;
    line-height: 45px;
    display: none;

}

.section-two .section-2-text p span.text-in {
    display: block;
    animation: textIn .5s ease;

}

.section-two .section-2-text p span.text-out {
    animation: textOut .5s ease;

}

@keyframes textIn{
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}


@keyframes textOut{
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}


/*SECTION THREE */


.sectionThree__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

[class^="sectionThree__cards--"] {
  background-color: var(--color-orange-50);
  display: flex;
  flex-direction: column;
  gap:30px;
  padding: 30px 25px;
  align-items: center;
  border-radius: 20px;
 

}

[class^="sectionThree__cards--"]:hover {
    box-shadow:2px 2px 2px 2px rgba(73, 72, 72, 0.2) ;

}

[class^="sectionThree__cards--"]  img{
    width: 50px;
    
  }

  [class^="sectionThree__cards--"]  .name{
    font-family: var(--font-2);
    font-weight: 800;
    font-size: 20px;
    
  }

  [class^="sectionThree__cards--"]  button{
   padding: 10px 20px;
   border: none;
   background-color: var(--color-blue-100);
   color: var(--color-white-100);
   font-weight: 700;
   border-radius: 10px;
   cursor: pointer;
    
  }



  /*SECTION FOUR*/


  
  .sectionFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.2px 5px 20px rgb(97, 95, 95);
    width: 100%;
    margin-bottom: 60px;
    padding-top: 70px;
    height: 50vh;

    
  }


.sectionFour--cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

  .sectionFour__text {
    margin: 40px auto;
    font-weight: bolder;
    color: var(--color-blue-100);
  }

  
 [class^="flip-box--"] {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-bottom: 40px;
    

  }



  [class^="flip-box--"]:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.flip-box-back {
   transform: rotateY(180deg);
    font-size: 20px; 
    text-align: center;
    line-height: 30px;
    padding:30px 15px;

}



 .flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }
  .flip-box-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
  }
 
  .flip-box-front img {
    width: 100px;
  }


  .sectionFour_cards--label {
    font-family: var(--font-2);
    color: var(--color-orange-100);
    font-weight: 800;
    font-size: 30px;
    padding-top: 20px;
  }

/*SECTION Five*/



 
.sectionFive_right {
    font-family: var(--font-2);
    margin: auto;
    padding: auto;
    
}


.sectionFive_right-phone--number {
    display: flex;
    justify-content: center;
    ;
}


.sectionFive_right-label {
    font-size: 40px;
    margin-bottom: 80px;
    color: var(--color-orange-100);
    font-weight: bolder;
}


.sectionFive_right--number {
    font-size: 20px;
    color: var(--color-blue-100);
    font-weight: 700;

}

.bi-telephone-inbound-fill {
    padding-right: 20px;
    font-size: 50px;
    color: var(--color-blue-100);
}








/** 
*! Media queries section
*/


@media (max-width:1024px) {

    .sectionThree__cards {
        grid-template-columns: repeat(2, 1fr);
    }


    
}


@media (max-width:768px) {

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    

    .sectionOne__right {
        order: 0;
    }

    .sectionOne__left {
        order: 1;
    }

    .common-title {
        font-size: var(--h3);
    } 


    .section-two .section-2-text h1{
        font-size: 30px;
        line-height: 30px;
    
    }
    
 
    .section-two .section-2-text p span{
        font-size: 25px;
        line-height: 35px;
    }

    .sectionThree__cards {
        grid-template-columns: repeat(2, 0.7fr);
        padding: 10px 35px;
       
    }

  
}


@media (max-width:568px) {

    .sectionThree__cards {
        grid-template-columns: repeat(1, 1fr);
    }


 
}